[defaults]
inventory           = inventory/localhost.yml
roles_path          = roles
collections_paths   = ~/.ansible/collections
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml

[privilege_escalation]
become        = False
become_method = sudo
